@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


/* Change font size of top menu items */
.navbar .navbar-nav .nav-link {
  font-size: 1.5rem; /* adjust value as needed */
}

/* Change headings font */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant", sans-serif; /* replace with your font */
}


/* Reduce font size globally */
body {
  font-family: "Cormorant", serif; /* replace with your font */
  font-size: 16px !important; /* adjust number as needed, !important to override */
}

/* Or reduce font size just for the main content */
main, article {
  font-size: 16px !important;
}

.ul-interests li {
  font-size: 1.1rem;
}

.ul-edu li .description p.course {
  font-size: 1.0rem;
}

.ul-edu li .description p.institution {
  font-size: 1.0rem;
  /* color: rgba(0, 0, 0, 0.6); */
}

#about {
  font-size: 1.2rem;
}