.hero, .header, .page-title {
  color: #808080; /* Color of the menu bar :Change to your desired color */
}

.hero-title, .hero-content {
  color: #808080; /* Change this to your desired text color */
}

.max-w-prose {
  max-width: 100%; /* Change this to your preferred width */
  width: 100%;
  margin: 0 auto; /* Center the content */
}