@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


/* Change font size of top menu items */
.navbar .navbar-nav .nav-link {
  font-size: 1.4em; /* adjust value as needed */
}

/* Change headings font */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant", sans-serif; /* replace with your font */
}


/* Reduce font size globally */
body {
  font-family: "Cormorant", serif; /* replace with your font */
  font-size: 18px !important; /* adjust number as needed, !important to override */
}

/* Or reduce font size just for the main content */
main, article {
  font-size: 18px !important;
}

.ul-interests li {
  font-size: 1rem;
  max-width: 100%;
}

.ul-edu li { 
  position: relative; 
  max-width: 100%;
  padding: 0 15px 4px 3px; 
 } 

.ul-edu li .description p.course {
  font-size: 1rem;
  max-width: 100%;
}

.ul-edu li .description p.institution {
  font-size: 1rem;
  margin: 0;
  max-width: 100%;
  /* color: rgba(0, 0, 0, 0.6); */
}


.resume-biography .bio-text {
  font-size: 1.1rem;
  max-width: 680px
}


.section-subheading {
    font-size: 1.1rem;
    font-weight: 700
}

.prose.wider-list-container {
    max-width: 100ch; /* Or a larger value */
}